# Starter pipeline


# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
     
      
      echo 'This is a new bash line' + $date 
- task: Bash@3
  inputs:
    filePath: 'test_shell.sh'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      # Write your commands here
      
       sshpass  -p "&UJm8ik,6yhn1qaz" ssh -tt -o StrictHostKeyChecking=no oracle@150.136.228.104 'dbaascli patch db list'
      
      
      

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
